"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "react-es6-snippets"
      "linter-eslint"
      "linter-ui-default"
      "linter"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "spacegray-eighties-ui"
      "twilight"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    panelDisplayMode: "closed"
  "linter-eslint":
    useGlobalEslint: true
  "linter-ui-default":
    panelHeight: 51
    showPanel: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
